:root {
  --dark-blue: rgb(16, 35, 45);
  --medium-blue: rgb(12, 47, 66);
  --light-blue: rgb(0, 57,87);
  --cyan: rgb(118, 255, 249);
  --backdrop: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template: 'header header' 40px 'workspace toolbar' auto 'footer footer' 24px / auto 272px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark-blue);
}

.header {
  grid-area: header;
  background-color: var(--medium-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid var(--light-blue);
}

.header .logo {
  color: var(--cyan);
  font-size: 20px;
  font-weight: bold;
}

.header .io-options {
  display: inline-flex;
}

.header .io-options .option {
  padding: 2px 12px;
  background-color: transparent;
  color: var(--cyan);
  border: 2px solid var(--cyan);
  outline: none;
  cursor: pointer;
  user-select: none;
}

.header .io-options .option:not(:last-child) {
  margin-right: 8px;
}

.workspace {
  grid-area: workspace;
  position: relative;
  overflow: auto;
}

.workspace .cnv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.toolbar {
  grid-area: toolbar;
  background-color: var(--medium-blue);
  padding: 0 16px;
  border-left: 1px solid var(--light-blue);
}

.toolbar .title {
  color: var(--cyan);
  margin: 8px 0;
  user-select: none;
}

.toolbar .color-picker {
  display: grid;
  grid-template-columns: repeat(12, 20px);
  grid-template-rows: repeat(22, 20px);
  grid-auto-flow: row;
  margin-bottom: 16px;
}

.toolbar .color-picker .color {
  cursor: pointer;
  position: relative;
}

.toolbar .color-picker .color:hover::after,
.toolbar .color-picker .color.color_active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--light-blue);
  display: block;
}

.toolbar .drawing-tools {
  display: flex;
  justify-content: flex-start;
}

.toolbar .drawing-tools .tool {
  width: 24px;
  padding: 2px 0;
  background-color: transparent;
  color: var(--cyan);
  border: 2px solid var(--cyan);
  outline: none;
  cursor: pointer;
}

.toolbar .drawing-tools .tool:not(:last-child) {
  margin-right: 8px;
}

.toolbar .drawing-tools .tool.tool_active {
  background-color: var(--cyan);
  color: var(--medium-blue);
}

.footer {
  grid-area: footer;
  background-color: var(--medium-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-top: 1px solid var(--light-blue);
}

.footer .gh-link, .copyright {
  color: var(--cyan);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--backdrop);
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: var(--dark-blue);
  padding: 16px;
  border: 2px solid var(--cyan);
}

.modal .title {
  margin: 0 0 16px;
  color: var(--cyan);
}

.modal .options {
  margin-bottom: 16px;
}

.modal .option {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: var(--cyan);
  cursor: pointer;
}

.modal .option::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid var(--cyan);
  margin-right: 4px;
}

.modal .option:not(:last-child) {
  margin-bottom: 4px;
}

.modal .option.option_checked::before {
  background-color: var(--cyan);
}

.modal .actions {
  display: flex;
  justify-content: space-between;
}

.modal .action {
  padding: 2px 12px;
  background-color: transparent;
  color: var(--cyan);
  border: 2px solid var(--cyan);
  outline: none;
  cursor: pointer;
}

.modal .action:not(:last-child) {
  margin-right: 8px;
}
